body{
    background-color:#f8fafc ;
    text-align: center;
    margin: 0px;
    padding: 20px;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex: 1 1 300px;
}
.card{
    width: 300px;
    padding: 20px;
    background:white;
    border:2px solid #e5e7eb;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    text-align: center;
}

